**/.vs/
**/Validations.ApiGateway/obj/
**/Validations.ApiGateway/bin/
**/Validations.Client/obj/
**/Validations.Client/bin/
**/Validations.Nip/obj/
**/Validations.Nip/bin/
**/Validations.Pesel/obj/
**/Validations.Pesel/bin/